<ul class="nav justify-content-center bg-dark">
    <li class="nav-item">
        <a class="nav-link text-white {% if 'index' == app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('index') }}"><i class="ion-home"></i> Home</a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link text-white {% if 'dashboard' == app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('dashboard') }}"><i class="ion-ios-settings-strong"></i> Dashboard</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white {% if 'profile' == app.request.attributes.get('_route') %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.email|default('john@doe.com') }}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('logout') }}"><i class="ion-log-out"></i> Logout</a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link text-white {% if 'login' == app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('login') }}"><i class="ion-log-in"></i> Login</a>
        </li>
    {% endif %}
</ul>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
