{% extends 'base.html.twig' %}

{% block title %}Profile | Drop obServer{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to your profile</h1>
        <div class="media">
            <img class="mr-3" src="https://www.gravatar.com/avatar/{{ app.user ? app.user.email|md5 }}" alt="Generic placeholder image">
            <div class="media-body">
                <p class="text-justify lead">Your application's Consumer Key and Secret are used to authenticate requests to the Twitter Platform. Go to your Twitter Application Management account to know more : <a href="https://apps.twitter.com/">https://apps.twitter.com/</a></p>
            </div>
        </div>
        <hr class="my-4">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.twitterConsumerKey ) }}
                {{ form_widget(form.twitterConsumerKey, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.twitterConsumerSecret) }}
                {{ form_widget(form.twitterConsumerSecret, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.twitterAccessToken) }}
                {{ form_widget(form.twitterAccessToken, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.twitterAccessTokenSecret) }}
                {{ form_widget(form.twitterAccessTokenSecret, {'attr': {'class': 'form-control'}}) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
