{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-outline-primary mt-3" href="{{ google_redirect_uri }}">Google Login</a>
        <div class="mt-3 form-control">
            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter email', 'value': last_email}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}
            </div>
            <button type="submit" class="btn btn-outline-dark mb-2">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
