{% extends 'base.html.twig' %}

{% block body %}
    <video id="bgvid" playsinline autoplay muted loop>
        <source src="https://res.cloudinary.com/cvilleger/video/upload/ac_none,q_60/v1519688293/loop_k4i8g4.mp4" type="video/mp4">
    </video>
    <div class="container mt-3 form-control" style="opacity: 0.85">
        {% if error %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter email', 'value': last_email}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}
            </div>
            <button type="submit" class="btn btn-outline-dark mb-2">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
